@import "variables";



// the romac contact form
.contact-form {
  h1, h2, h3, h4, h5, h6 {
    border-bottom: 1px dashed #ddd;
    padding-bottom: 0.25em;
    margin-bottom: 0.5em;
  }

  @media @tablets, @laptops, @desktops {
    width: 100%;
    max-width: 480px;
  }

  #g-recaptcha {
    margin: .5em auto;
  }
}

