@import "variables";
@import "mixins";

//
// the romac contact form
//
.contact-page {
  @media @tablets, @laptops, @desktops {
    .flex-display;

    .widgets {
      max-width: 220px;
      .flex-order(2);
    }
//    .widget-2 {
//      .flex(1);
//      .flex-order(1);
//    }
    .form {
      .flex(1);
      .flex-order(1);
    }
  }

  .feedback-message {
    text-align: center;
    font-size: 18px;
    font-size: 1.125rem;
    font-style: italic;

    margin-bottom: 1em;

    div {
      border-radius: 3px;
      padding: 1.5em;
      color: white;
    }

    .success {
      background-color: #63a43c;
    }
    .failure {
      background-color: #7B0000;
    }
  }


  form {
    .block-center;

    @media @tablets, @laptops, @desktops {
      width: 100%;
      max-width: 480px;
    }

    h1, h2, h3, h4, h5, h6 {
      border-bottom: 1px dashed #ddd;
      padding-bottom: 0.25em;
      margin-bottom: 0.5em;
    }
  }

  #g-recaptcha {
    margin: .5em auto;
  }
}

//
// the our team page
//
.our-team {
  .flex-display;
  margin: 0 @site-margin;

  .team-list {
    margin-right: @site-margin;
  }

  .aura-people-snaps {
    flex: 4;
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;

    .aura-person {
      display: block;
      flex-basis: 280px;
      padding: 0 0.75em;


      .aura-person-group {
        display: flex;

        .aura-person-links {
          flex: 1;
        }
      }

      .aura-person-photo {
        width: 150px;
        height: auto;
        margin-right: 0.5em;
      }
    }
  }

  .aura-person-singular {
    flex: 4;
  }

  .aura-person {
    h1 {
      font-size: 24px;
      font-size: 1.5rem;
      margin-bottom: 3px;
      margin-top: 0;

      span {
        font-weight: normal;
        text-underline: none;
        font-size: 18px;
        font-size: 1.125rem;
        margin-left: 0.5em;
      }
    }

    img {
      border-radius: @border-corner;
    }

    h2 {
      font-size: 15px;
      line-height: 16px;
      margin: 0 0 8px;
      font-weight: normal;
    }

    .aura-person-links {
      a {
        width: 100%;
        background-color: #f0f0f0;
        padding: 10px;
        display: inline-block;
        margin-bottom: 0.5em;
        transition: all .42s ease;
        border: 1px solid @malibu;
        border-radius: @border-corner;
        .box-shadow;

        &:hover {
          background-color: #52a8fc;
          color: #f0f0f0;
          padding-left: 15px;
          box-shadow: 0 0 0;
        }
      }
    }

    .fa {
      width: 16px;
      text-align: center;
    }
  }
}

.aura-people-snaps .aura-person { margin-bottom: 2em; }
.aura-people-snaps .aura-person .aura-person-blurb {
  display: none;
}
.aura-people-snaps .aura-person h1 { }
.aura-people-snaps .aura-person h2
.aura-people-snaps .aura-person .aura-person-group {
  display: flex;
  align-items: flex-start;
}
.aura-people-snaps .aura-person .aura-person-blurb { }


.aura-person .aura-person-profile {
  display: flex;
  width: 100%;
}
.aura-person-singular .aura-person h1 {
  margin-bottom: 0.5em;
  font-size: 32px;
  font-size: 2rem;
  border-bottom: 1px dashed #ccc;
  padding-bottom: 3px;

  span {
    font-size: 24px;
    font-size: 1.5rem;
  }
}
.aura-person-singular .aura-person p {
  margin-top: 0;
}
.aura-person-singular .aura-person .aura-person-photo {
  width: 100%;
}
.aura-person-singular .aura-person .aura-person-profile {

}
.aura-person-singular .aura-person .aura-person-profile > div:nth-child(1) {
  flex: 1;
  padding-right: 1em;
  min-width: 120px;
}
.aura-person-singular .aura-person .aura-person-profile > div:nth-child(2) {
  width: 80%;
}




.aura-patron-list .aura-patron {
  display: flex;
}
.aura-patron-list .aura-patron div:nth-child(1) {

}
.aura-patron-list .aura-patron div:nth-child(2) {
  flex: 1;
}

.aura-patron-list .aura-patron:not(:last-child) {
  margin-bottom: 40px;
}

.aura-patron .aura-patron-photo {
  border: 1px solid rgba(0,0,0,.25);
  padding: 5px;
  box-shadow: 2px 2px 2px rgba(0,0,0,.125);
  width: 180px;
  margin-right: 1em;
}