// menu colors
@malibu: #52a8fc;
@apple: #63a43c;
@cerise: #dc3381;
@puce: #c372a1;
@jaffa: #ef8443;

@border-corner: 3px;

// background colors
@bg-color: #fff;
@bg-compliment: #bdbdae;

// panel colors:
@panel-heading-color: #f0f0f0;
@panel-body-color: #fafafa;
@panel-corner-radius: @border-corner;
@panel-border-color: #ddd;

// dimensions
@site-max-width: 1100px;
@site-margin: 1em;

// media queries
@mobiles:  ~"only screen and (max-width: 768px)";
@tablets:  ~"only screen and (min-width: 768px) and (max-width: 992px)";
@laptops:  ~"only screen and (min-width: 992px)";
@desktops: ~"only screen and (min-width: 1200px)";
